[submodule "bsaseq"]
	path = bsaseq
	url = ./bsaseq/
[submodule "chipseq"]
	path = chipseq
	url = ./chipseq/
[submodule "rnaseq"]
	path = rnaseq
	url = ./rnaseq/
[submodule "index"]
	path = index
	url = ./index/
